package %package%;

import net.egork.chelper.task.NewTopCoderTest;
import net.egork.chelper.tester.TestCase;

import java.util.Collection;
import java.util.Collections;

public class %TestCaseClass% {
    @TestCase
    public Collection<NewTopCoderTest> createTests() {
        return Collections.emptyList();
    }
}
